<p id="notice"><%= notice %></p>

<p>
  <b>Shingle type:</b>
  <%= @estimate.shingle_type %>
</p>

<p>
  <b>Shingle quantity:</b>
  <%= @estimate.shingle_quantity %>
</p>

<p>
  <b>Estimate:</b>
  <%= @estimate.estimate_id %>
</p>


<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
