  <header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  <div class="container">
  	  	<%= link_to "eXact Roof Estimates", '#', id: "logo" %>
  	  	<nav>
  	  		<ul class="nav pull-right">
  	  			<li><%= link_to "Home", '#' %></li>
  	  			<li><%= link_to "About", '#' %></li>
  	  			<li><%= link_to "Contact Us", '#' %></li>
  	  			<li><%= link_to "Register", '#' %></li>
  	  		</ul>
  	  	</nav>
  	  </div>
  	</dv>
  </header>