  <header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  <div class="container">
  	  	<%= link_to "eXact Roof Estimates", root_path, id: "logo" %>
  	  	<nav>
  	  		<ul class="nav pull-right">
  	  			<li><%= link_to "Home", root_path %></li>
  	  			<li><%= link_to "About", about_path %></li>
  	  			<li><%= link_to "Contact Us", contact_path %></li>
  	  			<li><%= link_to "Services", services_path %></li>
  	  		</ul>
  	  	</nav>
  	  </div>
  	</dv>
  </header>